@import "tailwindcss";

:root {
  --primary-bg: #121212;
  --secondary-bg: #1e1e1e;
  --accent-color: #25d366;
  --text-color: #e0e0e0;
  --input-bg: #2a2a2a;
  --input-border: #333;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

input, button {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  opacity: 0.8;
}

::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  background: #111b21 !important;
}

::-webkit-scrollbar-thumb {
  background: #364145 !important;
  border-radius: 5px !important;
}
* {
  scrollbar-width: thin !important;
  scrollbar-color: #364145 #111b21 !important;
}

@keyframes slideDown {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slide-down {
  animation: slideDown 0.3s ease-out;
}
